.container {
    width: 30em;
    height: 30em;
    background-image: url(./images/container-background.jpg);
    border: 3px solid greenyellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

.smallCircle {
    width: 4em;
    height: 4em;
    left: 220px;
    top: 220px;
    position: fixed;
    background-image: url(./images/sm-circle-background.jpg);
    border: 2px solid seagreen;
    border-radius: 50%;
    transition: 0.1s linear;
}

#border {
    border-radius: 50%;
    width: 252px;
    height: 252px;
}

#bigCircle {
    background-image: url(./images/bg-circle-background.jpg);
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 2px solid darkblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}