.space-info {
    position: relative;
    width: 90%;
    height: 30%;
    left: 0;
    right: 0;
    top: 50px;
    margin: auto;
    margin-bottom: 25px;
    padding: 10px;
    box-shadow: 0.1em 0.1em 4px rgba(122, 122, 122, 0.5);
}

.space-photo {
    position: relative;
    width: 100%;
    height: 45%;
    left: 20px;
    right: 0;
    top: 20px;
    margin: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
}

.space-photo img {
    position: relative;
    height: 100%;
}

.space-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.space-info-row.bottom {
    padding-top: 50px;
}

.space-info-row .space-name {
    margin-left: 40px;
}

.space-info-row .space-cost {
    margin-right: 40px;
}

.space-name {
    /* position: absolute;
    top: 245px;
    left: 35px; */
    width: 320px;
    color: #333333;
    font: 24px 'SF Display';
    margin: 0;
}

.space-cost {
    position: relative;
    width: 120px;
    color: #6574FF;
    font: 24px 'SF Display';
    margin: auto;
}

.space-name-info {
    position: relative;
    top: 45px;
    left: 45px;
    color: #939393;
    font: 16px 'SF Display';
    margin-bottom: 30px;
}

.space-info button {
    position: relative;
    float: left;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #6574FF;
    margin-top: 140px;
    margin-left: 35px;
    color: #ffffff;
    font: 18px 'SF Display';
    font-weight: 400;
}

.space-info-row .nav-item:hover,
.space-info-row .nav-item:focus {
    padding-bottom: 0px;
    background-color: #0a58ca;
}

.space-info-row a.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #6574FF;
    top: 0;
    bottom: 0;
    margin: 0;
    margin-left: 50px;
    color: #ffffff;
    font: 18px 'SF Display';
    font-weight: 400;
}

.space-rentor {
    position: relative;
    float: right;
    width: 262px;
    margin-right: 35px;
}

.call-rentor {
    position: absolute;
    float: right;
    font: 18px 'SF Display';
    color: #6574FF;
    width: 225px;
    top: 0;
    bottom: 0;
    right: 0;
}