body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.app-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}

.authors-list-wrapper {
    padding: 2%;
    margin: 3%;
    height: 50%;
    width: 50%;
    position: relative;
}

.books-list-wrapper {
    padding: 2%;
    margin: 3%;
    height: 50%;
    width: 50%;
    position: relative;
}

.authors-list {
    position: relative;
    padding: 4%;
    margin: 3%;
    height: 60%;
    width: 100%;
}

.books-list {
    position: relative;
    padding: 4%;
    margin: 3%;
    height: 60%;
    width: 100%;
}

.list-ol {
    counter-reset: li;
    list-style: none;
    font: 14px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(253, 242, 242, 0.726);
}

.list-item {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: rgb(243, 243, 243);
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.list-item:hover {
    background: #E9E4E0;
}

.list-item:hover:before {
    transform: rotate(360deg);
}

.list-item:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #47c4da;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.btn-remove {
    position: absolute;
    right: 16px;
    width: 16px;
    height: 16px;
    opacity: 0.3;
}

.btn-remove:hover {
    opacity: 1;
}

.btn-remove:before,
.btn-remove:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 17px;
    width: 2px;
    background-color: #47c4da;
}

.btn-remove:before {
    transform: rotate(45deg);
}

.btn-remove:after {
    transform: rotate(-45deg);
}

.remove-icon {
    src: url(./resource/delete_sweep-24px.svg);
}