/* 1 */

.parent {
    display: flex;
    height: 300px;
}

.child {
    width: 100px;
    height: 100px;
    margin: auto;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    background-color: teal;
    color: thistle;
}


/* 2 */

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    width: 200px;
    height: 150px;
    margin: auto;
    margin-top: 15px;
    line-height: 150px;
    padding: 10px;
    background-color: tomato;
    color: wheat;
    font-weight: bold;
    font-size: 4em;
    text-align: center;
}


/* 3 */


/* large */

.navigation {
    display: flex;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background-color: darkblue;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 2em;
    color: whitesmoke;
}

.navigation a:hover {
    background: #1569C0;
}


/* medium */

@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}


/* Small screens */

@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no longer using row direction but column */
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    /* последний элемент списка, a - отменяем границу снизу */
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}


/* 4 */

.wrapper {
    display: flex;
    padding-top: 2em;
    flex-flow: row wrap;
    font-weight: bolder;
    text-align: center;
}


/* We tell all items to be 100% width, via flex-basis */

.wrapper>* {
    padding: 10px;
    flex: 1 100%;
}

.header {
    background: tomato;
}

.footer {
    background: yellowgreen;
}

.main {
    text-align: left;
    background: skyblue;
}

.aside-1 {
    background: goldenrod;
}

.aside-2 {
    background: gold;
}


/* We rely on source order for mobile-first approach
 * in this case:
    * 1. header
    * 2. article
    * 3. aside 1
    * 4. aside 2
    * 5. footer
 */


/* Medium screens */

@media all and (min-width: 600px) {
    /* We tell both sidebars to share a row */
    .aside {
        flex: 1 0 0;
    }
}


/* Large screens */

@media all and (min-width: 800px) {
    /* We invert order of first sidebar and main
     * And tell the main element to take twice as much width as the other two sidebars 
     */
    .main {
        flex: 3 0px;
    }
    .aside-1 {
        order: 1;
    }
    .main {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer {
        order: 4;
    }
}