/* lines */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    /* This is better for small screens, once min() is better supported */
    /* grid-template-columns: repeat(auto-fill, minmax(min(200px, 100%), 1fr)); */
    grid-gap: 1rem;
    /* This is the standardized property now, but has slightly less support */
    /* gap: 1rem */
}

.grid>div {
    background: slategray;
    padding: 1.5rem;
    border-radius: 1rem;
}

body {
    margin: 2rem;
    font: 14px system-ui;
}


/* 1 */

.container {
    display: grid;
    grid-template-columns: [first] 40px [line2] 60px [line3] auto [col4-start] 60px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 150px [third-line] auto [last-line] 150px 25%;
}


/* Если ваше определение содержит повторяющиеся части, 
вы можете использовать repeat() 
нотацию для упрощения вещей: */

.container-repeat {
    display: grid;
    grid-template-columns: repeat(4, 30px [col-start]);
}


/* Если несколько строк имеют одно 
и то же имя, на них могут 
ссылаться их имя и количество строк. */

.item {
    grid-column-start: col-start 4;
}


/* fr Устройство позволяет установить размер 
трека в виде доли свободного пространства 
контейнера сетки. Например, для каждого 
элемента будет задана треть ширины
контейнера сетки: (если добавить px, будет не включать этот кусок */

.container {
    grid-template-columns: 1fr 30px 1fr 1fr;
}


/* 2 */

.item-a {
    grid-area: header;
}

.navigation {
    display: flex;
    padding-inline-start: 0px;
    width: 100%;
    flex-flow: row wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background-color: darkblue;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: whitesmoke;
}

.navigation a:hover {
    background: #1569C0;
}


/* medium */

@media all and (max-width: 800px) {
    .navigation {
        /* When on medium sized screens, we center it by evenly distributing empty space around items */
        justify-content: space-around;
    }
}


/* Small screens */

@media all and (max-width: 500px) {
    .navigation {
        /* On small screens, we are no longer using row direction but column */
        flex-flow: column wrap;
        padding: 0;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    /* последний элемент списка, a - отменяем границу снизу */
    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

.item-b {
    grid-area: main;
}

.main {
    background: darkslateblue;
    color: whitesmoke;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1rem;
    font-weight: bolder;
    text-align: center;
}

.item-c {
    grid-area: sidebar;
}

.sidebar {
    display: flex;
    padding-inline-start: 0px;
    flex-flow: column wrap;
    /* This aligns items to the end line on main-axis */
    justify-content: flex-start;
    list-style: none;
    margin-top: 1rem;
    background-color: darkblue;
}

.sidebar a {
    text-decoration: none;
    width: 100%;
    display: block;
    color: whitesmoke;
}

.sidebar a:hover {
    background: #1569C0;
}


/* Small screens */

@media all and (max-width: 500px) {
    .sidebar a {
        text-align: center;
        padding: 5px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
    .sidebar li {
        margin-right: 10px;
    }
    /* последний элемент списка, a - отменяем границу снизу */
    .sidebar li:last-of-type a {
        border-bottom: none;
    }
}

.item-d {
    grid-area: footer;
}

.footer {
    background-color: #1569C0;
    color: whitesmoke;
    padding-top: 2em;
    width: 100%;
    height: 50px;
}


/* .container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "header header header header" "main main main sidebar" "footer footer footer footer";
} */

.container {
    /* <align-items> <justify-items> */
    place-items: center stretch;
    /* justify-items: stretch;
    align-items: center; */
    display: grid;
    grid-template: [row1-start] "header header header header" auto [row1-end] [row2-start] "main main main sidebar" auto [row2-end] [row3-start] "footer footer footer footer" auto [row3-end] / auto;
    column-gap: 15px;
    row-gap: 20px;
    /* <align-content> / <justify-content> */
    /* justify-content: center; */
    place-content: stretch stretch;
}


/* 3 */