.booking {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    width: 98%;
    height: 46px;
    margin: auto;
    margin-top: 0px;
}

.parameters {
    display: flex;
    align-items: center;
    position: relative;
    float: right;
}

.search-form input[type=search] {
    width: 50%;
    height: 42px;
    border: 2px solid #6574FF;
    border-radius: 6px 0px 0px 6px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    color: #6574FF;
    font: 18px 'SF Display';
    font-weight: 400;
}

.search-form input[type=text] {
    position: relative;
    float: right;
    width: 127px;
    height: 42px;
    border: 2px solid #6574FF;
    margin-left: -3px;
    padding: 0;
    padding-left: 10px;
    color: #6574FF;
    font: 18px 'SF Display';
    font-weight: 400;
}

.search-form button[type=submit] {
    width: 150px;
    height: 42px;
    background-color: #6574FF;
    color: #ffffff;
    border: none;
    border-radius: 0px 6px 6px 0px;
    padding: 0;
    cursor: pointer;
    font: 18px 'SF Display';
    font-weight: 400;
}

.search-form input::placeholder {
    color: #ADB5FF;
    font: 16px 'SF Display';
    font-weight: 400;
}

.search-form input[type=search]::placeholder {
    color: #6574FF;
    font: 20px 'SF Display';
    font-weight: 400;
    font-size: 18px;
}

.leaflet-container {
    width: 1100px;
    height: 471px;
    border: 10px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}

.map {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    font: 16px 'SF Display';
    font-weight: 400;
    color: #97A2FE;
    margin-top: 20px;
    margin-bottom: 10px;
}

.map img {
    width: 100%;
}

.parking-list {
    display: flex;
    flex-direction: column;
    width: 78%;
    height: fit-content;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    box-shadow: 0.1em 0.1em 4px rgb(122 122 122 / 50%);
    margin-bottom: 30px;
}

.parking-list-item {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    margin: auto;
}

.parking-list-item:hover {
    background-color: ghostwhite;
}

.parking-list-item .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 25%;
    max-width: 25%;
    cursor: pointer;
}

.parking-list-item .center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.parking-list-item .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}

.parking-list-item .left img {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: 20px;
}

.parking-list-item a.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: right;
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #6574FF;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 0px;
    color: #ffffff;
    font: 18px 'SF Display';
    font-weight: 400;
}

.parking-list-item .nav-item:hover,
.nav-item:focus {
    padding-bottom: 0px;
    background-color: #0a58ca;
}

.location-mark {
    position: relative;
    height: 24px;
    color: #333333;
    font: 20px 'SF Display';
    font-weight: 400;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-left: 30px;
}

.empty {
    position: relative;
    width: 115px;
    height: 24px;
    color: #333333;
    font: 20px 'SF Display';
    font-weight: 400;
    top: 0;
    bottom: 0;
    left: -6%;
    margin: auto;
}

.num {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    color: #6574FF;
}

.cost {
    position: relative!important;
    height: 24px;
    color: #6574FF;
    font: 20px 'SF Display';
    font-weight: 400;
    top: 0;
    bottom: 0;
    /* left: 48%; */
    margin: auto;
}

.renter {
    padding-right: 15px;
}

.renter img {
    position: relative;
    width: fit-content;
    height: fit-content;
    /* left: 77%; */
    margin: auto;
}