.positionInfo {
    position: absolute;
    left: 1.5em;
    top: 1.5em;
    border: 1px solid whitesmoke;
}

#pointerPosition,
#circlePosition {
    font-size: 14px;
    font-style: italic;
    color: white;
    font-weight: bold;
    margin: 4px;
}

.container {
    width: 30em;
    height: 30em;
    background-image: url(./images/container-background.jpg);
    border: 3px solid greenyellow;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

#bigCircle {
    border-radius: 50%;
    border: 4px solid darkblue;
    background-image: url(./images/bg-circle-background.jpg);
}