body {
    margin: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.clock {
    width: 600px;
    height: 600px;
    margin: 0;
    background-image: url(./resource/Clock2.png);
    border: 1 px solid black;
    position: relative;
    z-index: 0;
}

.clocks {
    display: flex;
}

.clock-with-timeZoneList {
    width: 620px;
    height: 950px;
    margin: 2%;
    padding: 1%;
}

.timeZoneList {
    top: 5%;
    margin-left: 5%;
}

.labelTimeZone {
    margin-left: 10%;
}

.second-hand {
    width: 50px;
    height: 280px;
    display: block;
    position: absolute;
    transition: all ease 1000ms;
    transform-origin: 25px 280px;
    left: 275px;
    top: 20px;
    z-index: 3;
}

.minute-hand {
    width: 50px;
    height: 250px;
    display: block;
    position: absolute;
    transition: all ease 1000ms;
    transform-origin: 25px 250px;
    left: 275px;
    top: 50px;
    z-index: 2;
}

.hour-hand {
    width: 150px;
    height: 200px;
    display: block;
    position: absolute;
    transition: all ease 1000ms;
    transform-origin: 75px 200px;
    left: 225px;
    top: 100px;
    z-index: 1;
}

.transformTo360 {
    transform: rotate(360deg);
}

.transitionNone {
    transform: rotate(0deg);
    transition: none;
}

.del-button {
    background: url(./resource/delImg.jpg);
    width: 29px;
    height: 29px;
    margin-left: 600px;
}

.add-button {
    float: right;
    background: url(./resource/addClockImg.png);
    margin-top: 325px;
    width: 29px;
    height: 29px;
}